<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huaxia.plaze.modules.qyhy.mapper.EnterpriseDataMapper">

	<select id="selectCountByEnterprise" resultType="java.lang.String">
		select ENTERPRISE_LEVEL from LIBRARY_EXCELLENT_ENTERPRISE 
		where ENTERPRISE_NAME = #{enterprise, jdbcType = VARCHAR}
	</select>

</mapper>