<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huaxia.plaze.modules.id5.mapper.Id5RequestMapper">

	<insert id="save"  parameterType="com.huaxia.plaze.modules.id5.domain.Id5Request">
		INSERT INTO ID5_TRN_REQUEST(
			UUID,
			CRT_TIME,
			CRT_USER,
			TRN_ID,
			REQUEST_CHANNEL,
			QUERY_MODE,
			CERT_TYPE,
			CERT_NO,
			NAME,
			MOBILE
		) VALUES (
			sys_guid(),
			sysdate,
			#{crtUser,jdbcType = VARCHAR},
			#{trnId,jdbcType = CHAR},
			#{requestChannel,jdbcType = VARCHAR},
			#{queryMode,jdbcType = CHAR},
			#{certType,jdbcType = VARCHAR},
			#{certNo,jdbcType = VARCHAR},
			#{name,jdbcType = VARCHAR},
			#{mobile,jdbcType = VARCHAR}
		)
	</insert>
</mapper>