<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huaxia.plaze.modules.tongdun.mapper.MulBorAntifraudIndexMapper">

	<insert id="insert" parameterType="com.huaxia.plaze.modules.tongdun.domain.MulBorAntifraudIndex">
		INSERT INTO MULBOR_ANTIFRAUD_INDE (
		  UUID ,
		  CRT_TIME ,
		  CRT_USER,
		  REF_UUID  ,
		  APP_ID  ,
		  TRN_ID,
		   
		 ANTIFRAUD_0a4c82dd50b1 ,
		 ANTIFRAUD_8c5c6b85ba31 ,
		 ANTIFRAUD_a5cfd2cc0821 ,
		 ANTIFRAUD_7dc74be258f1 ,
		 ANTIFRAUD_e4bef80ab191 ,
		 ANTIFRAUD_5f1cff4a6081 ,
		 ANTIFRAUD_d3c5b644d261 ,
		 ANTIFRAUD_ac586c138441 ,
		 ANTIFRAUD_d964cad56851 ,
		 ANTIFRAUD_d0d879f929b1 ,
		 ANTIFRAUD_d7b369958461 ,
		 ANTIFRAUD_7decf0c10f91 ,
		 ANTIFRAUD_cd6ddb5b0231 ,
		 ANTIFRAUD_e400cb476291 ,
		 ANTIFRAUD_5edebc93e271 ,
		 ANTIFRAUD_48e8c2d36f21 ,
		 ANTIFRAUD_06b34db165e1 ,
		 ANTIFRAUD_69a5fc3dbc11 ,
		 ANTIFRAUD_8fb406000650 ,              
		 ANTIFRAUD_531b058e93f0 ,
		 ANTIFRAUD_4c244935aef0 ,
		 ANTIFRAUD_4faf84e71160 ,
		 ANTIFRAUD_cd01aa772bd0 ,
		 ANTIFRAUD_4b549901aea0 ,
		 ANTIFRAUD_bc72c9ccec40 ,
		 ANTIFRAUD_39497d9839d0 ,
		 ANTIFRAUD_ff7f8fc1f120 ,
		 ANTIFRAUD_efcaeb13df30 ,
		 ANTIFRAUD_a549cd137ad0 ,
		 ANTIFRAUD_c3437b89c780 ,
		 ANTIFRAUD_4f66e1f858e0 ,
		 ANTIFRAUD_85f885cc4f40 ,
		 ANTIFRAUD_7de9144eca20 ,
		 ANTIFRAUD_e3509aaf13d0 ,
		 ANTIFRAUD_161760eea3f1 ,
		 ANTIFRAUD_871b4791b741 ,
		 ANTIFRAUD_64343ca2cfa1 ,
		 ANTIFRAUD_cd166e53c9b1 ,
		 ANTIFRAUD_2ebb86a755d1 ,
		 ANTIFRAUD_0fd434e40bb1 ,
		 ANTIFRAUD_61aee6654c01 ,
		 ANTIFRAUD_d5d1955ff171 ,
		 ANTIFRAUD_d3445eae2341 ,
		 ANTIFRAUD_1904f9b71b31 ,
		 ANTIFRAUD_ffcfc2b798a1 ,
		 ANTIFRAUD_8401d0095da1 ,
		 ANTIFRAUD_82b0f20981a1 ,
		 ANTIFRAUD_2ec00f08de71 ,
		 ANTIFRAUD_ac9e681b02a1 ,
		 ANTIFRAUD_acf713df3fd1 ,
		 ANTIFRAUD_ac4f01b59331 ,
		 ANTIFRAUD_f7215fe4b561 ,
		 ANTIFRAUD_dda895875860 ,
		 ANTIFRAUD_c66690712910 ,
		 ANTIFRAUD_345211438ff0 ,
		 ANTIFRAUD_17e6407b61a0 ,
		 ANTIFRAUD_65d9389b8af0 ,
		 ANTIFRAUD_aab6d8fb91b0 ,
		 ANTIFRAUD_985b5ba42e40 ,
		 ANTIFRAUD_cf44bdae4ba0 ,
		 ANTIFRAUD_aa7668222f80 ,
		 ANTIFRAUD_c50ff997ac10 ,
		 ANTIFRAUD_423d47136df0 ,
		 ANTIFRAUD_c961bdc158c0 ,
		 ANTIFRAUD_c7a2789758c0 ,
		 ANTIFRAUD_12b48e2ad0d0 ,
		 ANTIFRAUD_3e3266dff9a0 ,
		 ANTIFRAUD_0dddf6531740 ,
		 ANTIFRAUD_5e8b36093271 ,
		 ANTIFRAUD_0f17340bb3d1 ,
		 ANTIFRAUD_f50d9a1534f1 ,
		 ANTIFRAUD_8b47333b60f1 ,
		 ANTIFRAUD_1063a6592601 ,
		 ANTIFRAUD_91931fc33a61 ,
		 ANTIFRAUD_de24c02f8481 ,
		 ANTIFRAUD_ca08351cc511 ,
		 ANTIFRAUD_e221f4f1e761 ,
		 ANTIFRAUD_ae4b0d59bdf1 ,
		 ANTIFRAUD_dd029e7c9b51 ,
		 ANTIFRAUD_c8914cf84a01 ,
		 ANTIFRAUD_b9094b7f6931 ,
		 ANTIFRAUD_516bb59c3741 ,
		 ANTIFRAUD_52a92783d1a1 ,
		 ANTIFRAUD_81a4cb14dcc0 ,
		 ANTIFRAUD_0b4c56afc4d0 ,
		 ANTIFRAUD_5ef845f75c30 ,
		 ANTIFRAUD_d86123679f20 ,
		 ANTIFRAUD_62085131a0e0 ,
		 ANTIFRAUD_02f0ce3c49b0 ,
		 ANTIFRAUD_b2adaba137f0 ,
		 ANTIFRAUD_3f24d3d821f0 ,
		 ANTIFRAUD_2184d215c1d0 ,
		 ANTIFRAUD_174f3daa7090 ,
		 ANTIFRAUD_840bea513490 ,
		 ANTIFRAUD_250d6de8f150 ,
		 ANTIFRAUD_726655fe0e41 ,
		 ANTIFRAUD_e8699ab64f11 ,
		 ANTIFRAUD_1a3acd9d8321 ,
		 ANTIFRAUD_ae6341359221 ,
		 ANTIFRAUD_fcef6d5316c1 ,
		 ANTIFRAUD_31ebeae71ac1 ,
		 ANTIFRAUD_59ec64955f81 ,
		 ANTIFRAUD_36e823180421 ,
		 ANTIFRAUD_565c88cef451 ,
		 ANTIFRAUD_a2ca08d0ad11 ,
		 ANTIFRAUD_aae68f6ed511 ,
		 ANTIFRAUD_206dcd7f7031 ,
		 ANTIFRAUD_e12e97972ec1 ,
		 ANTIFRAUD_920763cb9dd1 ,
		 ANTIFRAUD_f7d48e7a7fd1 ,
		 ANTIFRAUD_eaeeb101a711 ,
		 ANTIFRAUD_2cc6fa284591 ,
		 ANTIFRAUD_d6c111317e71 ,
		 ANTIFRAUD_34310d985721 ,
		 ANTIFRAUD_e5c06632e511 ,
		 ANTIFRAUD_8518b24e6d01 ,
		 ANTIFRAUD_70f6c6b1b550 ,
		 ANTIFRAUD_afb711bb1e80 ,
		 ANTIFRAUD_b9a7f3b1ba00 ,
		 ANTIFRAUD_0577468331b0 ,
		 ANTIFRAUD_815d5462bb70 ,
		 ANTIFRAUD_e3033d42ae10 ,
		 ANTIFRAUD_07fe4e9b86c0 ,
		 ANTIFRAUD_5439378f49e0 ,
		 ANTIFRAUD_96df341d7ac0 ,
		 ANTIFRAUD_69efe2ed0480 ,
		 ANTIFRAUD_dad774186b10 ,
		 ANTIFRAUD_c7c3de9ad0a0 ,
		 ANTIFRAUD_a55921ccfc30 ,
		 ANTIFRAUD_9d43aeb5d4c0 ,
		 ANTIFRAUD_633d1f0f3960 ,
		 ANTIFRAUD_cc06e3fc9d80 ,
		 ANTIFRAUD_1d0a2bdbc700 ,
		 ANTIFRAUD_37d86624c840 ,
		 ANTIFRAUD_58463101eec0 ,
		 ANTIFRAUD_2f22f31df6c0 ,
		 ANTIFRAUD_0efc481c3e11 ,
		 ANTIFRAUD_b7cd97a99b91 ,
		 ANTIFRAUD_e55e23c04261 ,
		 ANTIFRAUD_381be99bdf81 ,
		 ANTIFRAUD_4e28898eb2f1 ,
		 ANTIFRAUD_e9c90d961b81 ,
		 ANTIFRAUD_394a66802d50 ,
		 ANTIFRAUD_ee676d6542c0 ,
		 ANTIFRAUD_4b95f0143420 ,
		 ANTIFRAUD_fa43ee1ea310 ,
		 ANTIFRAUD_fd983032da40 ,
		 ANTIFRAUD_326d3de30a90 ,
		 ANTIFRAUD_a2cd59853fa0 ,
		 ANTIFRAUD_8ed58d092710 ,
		 ANTIFRAUD_afcbc297fc41 ,
		 ANTIFRAUD_25091a670151 ,
		 ANTIFRAUD_7816c976d701 ,
		 ANTIFRAUD_1f3c7162fe71 ,
		 ANTIFRAUD_743e0c2cad61 ,
		 ANTIFRAUD_c7af4177d721 ,
		 ANTIFRAUD_2ee5a02ffe70 ,
		 ANTIFRAUD_fa8229c60960 ,
		 ANTIFRAUD_dcc8ee56fd90 ,
		 ANTIFRAUD_66c0c946b530 ,
		 ANTIFRAUD_c09e2cdbb0b0 ,
		 ANTIFRAUD_769da8285e50 ,
		 ANTIFRAUD_5404bf1f19f0 ,
		 ANTIFRAUD_27da67cb7130 ,
		 ANTIFRAUD_7330c7055f51 ,
		 ANTIFRAUD_4b3e0de98881 ,
		 ANTIFRAUD_af70e5cc27f1 ,
		 ANTIFRAUD_f4be4b1bb551 ,
		 ANTIFRAUD_d932dae554d1 ,
		 ANTIFRAUD_ff55f67ed591 ,
		 ANTIFRAUD_66c5c4c0de31 ,
		 ANTIFRAUD_23b3de194d81 ,
		 ANTIFRAUD_677cd4b9af21 ,
		 ANTIFRAUD_1db660e01470 ,
		 ANTIFRAUD_9160b72273f0 ,
		 ANTIFRAUD_7e292bb6f130 ,
		 ANTIFRAUD_bd3985043c30 ,
		 ANTIFRAUD_fa268e1ce520 ,
		 ANTIFRAUD_1e56549b4d40 ,
		 ANTIFRAUD_b69d97c53570 ,
		 ANTIFRAUD_fb7e7da3d670 ,
		 ANTIFRAUD_f1fc1d33c0f0 ,
		 ANTIFRAUD_9f8618f2d0e0 ,
		 ANTIFRAUD_681952a89ff0 ,
		 ANTIFRAUD_8d1df12ce690 ,
		 ANTIFRAUD_1a3a932f9b01 ,
		 ANTIFRAUD_e03aba035c61 ,
		 ANTIFRAUD_3dea83e7b431 ,
		 ANTIFRAUD_d0d0d3a1afe0 ,
		 ANTIFRAUD_727c2b9eef50 ,
		 ANTIFRAUD_06bf8ab91910 ,
		 ANTIFRAUD_b563fa4a8aa0 ,
		 ANTIFRAUD_395dfd22f26d ,
		 ANTIFRAUD_2dbdf137424f ,
		 ANTIFRAUD_000b8adf3484 ,
		 ANTIFRAUD_f5b35b30910c ,
		 ANTIFRAUD_4daf6e6d17d9 ,
		 ANTIFRAUD_09e30f820b20 ,
		 ANTIFRAUD_80a75fbf9e92 ,
		 ANTIFRAUD_c82d025af778 ,
		 ANTIFRAUD_2bf1553fd109 ,
		 ANTIFRAUD_f0745989f331 ,
		 ANTIFRAUD_10848867ef88 ,
		 ANTIFRAUD_d9d16344e7b6 ,
		 ANTIFRAUD_809320c9ea49 ,
		 ANTIFRAUD_dd5b8c368641 ,
		 ANTIFRAUD_2410e2596228 ,
		 ANTIFRAUD_e57dd0908fe5 
		) VALUES (
			#{uuid, jdbcType = CHAR},
			#{crtTime, jdbcType = TIMESTAMP},
			#{crtUser, jdbcType = VARCHAR},
			#{refUuid, jdbcType = CHAR},
			#{appId, jdbcType = CHAR},
			#{trnId, jdbcType = CHAR},
			#{ ANTIFRAUD_0a4c82dd50b1 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_8c5c6b85ba31 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_a5cfd2cc0821 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_7dc74be258f1 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_e4bef80ab191 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_5f1cff4a6081 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_d3c5b644d261 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_ac586c138441 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_d964cad56851 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_d0d879f929b1 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_d7b369958461 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_7decf0c10f91 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_cd6ddb5b0231 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_e400cb476291 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_5edebc93e271 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_48e8c2d36f21 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_06b34db165e1 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_69a5fc3dbc11 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_8fb406000650 , jdbcType=VARCHAR},              
			#{ ANTIFRAUD_531b058e93f0 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_4c244935aef0 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_4faf84e71160 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_cd01aa772bd0 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_4b549901aea0 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_bc72c9ccec40 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_39497d9839d0 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_ff7f8fc1f120 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_efcaeb13df30 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_a549cd137ad0 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_c3437b89c780 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_4f66e1f858e0 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_85f885cc4f40 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_7de9144eca20 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_e3509aaf13d0 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_161760eea3f1 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_871b4791b741 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_64343ca2cfa1 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_cd166e53c9b1 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_2ebb86a755d1 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_0fd434e40bb1 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_61aee6654c01 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_d5d1955ff171 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_d3445eae2341 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_1904f9b71b31 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_ffcfc2b798a1 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_8401d0095da1 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_82b0f20981a1 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_2ec00f08de71 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_ac9e681b02a1 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_acf713df3fd1 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_ac4f01b59331 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_f7215fe4b561 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_dda895875860 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_c66690712910 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_345211438ff0 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_17e6407b61a0 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_65d9389b8af0 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_aab6d8fb91b0 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_985b5ba42e40 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_cf44bdae4ba0 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_aa7668222f80 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_c50ff997ac10 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_423d47136df0 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_c961bdc158c0 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_c7a2789758c0 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_12b48e2ad0d0 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_3e3266dff9a0 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_0dddf6531740 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_5e8b36093271 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_0f17340bb3d1 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_f50d9a1534f1 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_8b47333b60f1 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_1063a6592601 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_91931fc33a61 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_de24c02f8481 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_ca08351cc511 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_e221f4f1e761 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_ae4b0d59bdf1 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_dd029e7c9b51 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_c8914cf84a01 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_b9094b7f6931 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_516bb59c3741 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_52a92783d1a1 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_81a4cb14dcc0 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_0b4c56afc4d0 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_5ef845f75c30 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_d86123679f20 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_62085131a0e0 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_02f0ce3c49b0 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_b2adaba137f0 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_3f24d3d821f0 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_2184d215c1d0 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_174f3daa7090 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_840bea513490 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_250d6de8f150 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_726655fe0e41 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_e8699ab64f11 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_1a3acd9d8321 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_ae6341359221 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_fcef6d5316c1 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_31ebeae71ac1 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_59ec64955f81 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_36e823180421 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_565c88cef451 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_a2ca08d0ad11 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_aae68f6ed511 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_206dcd7f7031 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_e12e97972ec1 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_920763cb9dd1 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_f7d48e7a7fd1 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_eaeeb101a711 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_2cc6fa284591 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_d6c111317e71 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_34310d985721 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_e5c06632e511 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_8518b24e6d01 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_70f6c6b1b550 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_afb711bb1e80 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_b9a7f3b1ba00 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_0577468331b0 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_815d5462bb70 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_e3033d42ae10 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_07fe4e9b86c0 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_5439378f49e0 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_96df341d7ac0 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_69efe2ed0480 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_dad774186b10 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_c7c3de9ad0a0 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_a55921ccfc30 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_9d43aeb5d4c0 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_633d1f0f3960 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_cc06e3fc9d80 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_1d0a2bdbc700 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_37d86624c840 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_58463101eec0 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_2f22f31df6c0 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_0efc481c3e11 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_b7cd97a99b91 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_e55e23c04261 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_381be99bdf81 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_4e28898eb2f1 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_e9c90d961b81 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_394a66802d50 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_ee676d6542c0 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_4b95f0143420 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_fa43ee1ea310 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_fd983032da40 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_326d3de30a90 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_a2cd59853fa0 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_8ed58d092710 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_afcbc297fc41 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_25091a670151 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_7816c976d701 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_1f3c7162fe71 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_743e0c2cad61 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_c7af4177d721 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_2ee5a02ffe70 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_fa8229c60960 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_dcc8ee56fd90 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_66c0c946b530 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_c09e2cdbb0b0 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_769da8285e50 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_5404bf1f19f0 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_27da67cb7130 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_7330c7055f51 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_4b3e0de98881 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_af70e5cc27f1 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_f4be4b1bb551 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_d932dae554d1 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_ff55f67ed591 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_66c5c4c0de31 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_23b3de194d81 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_677cd4b9af21 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_1db660e01470 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_9160b72273f0 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_7e292bb6f130 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_bd3985043c30 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_fa268e1ce520 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_1e56549b4d40 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_b69d97c53570 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_fb7e7da3d670 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_f1fc1d33c0f0 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_9f8618f2d0e0 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_681952a89ff0 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_8d1df12ce690 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_1a3a932f9b01 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_e03aba035c61 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_3dea83e7b431 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_d0d0d3a1afe0 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_727c2b9eef50 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_06bf8ab91910 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_b563fa4a8aa0 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_395dfd22f26d , jdbcType=VARCHAR},
			#{ ANTIFRAUD_2dbdf137424f , jdbcType=VARCHAR},
			#{ ANTIFRAUD_000b8adf3484 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_f5b35b30910c , jdbcType=VARCHAR},
			#{ ANTIFRAUD_4daf6e6d17d9 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_09e30f820b20 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_80a75fbf9e92 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_c82d025af778 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_2bf1553fd109 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_f0745989f331 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_10848867ef88 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_d9d16344e7b6 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_809320c9ea49 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_dd5b8c368641 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_2410e2596228 , jdbcType=VARCHAR},
			#{ ANTIFRAUD_e57dd0908fe5 , jdbcType=VARCHAR}
		)
	</insert>
	
</mapper>